<html>
    <head>
        <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>

    </head>
    <body>

        <h1>Set your class name</h1>
        <form method="POST" action="/manager/setup/initclass" id="classform">
            <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
            <button class="button is-block is-info is-large is-fullwidth">Submit class name</button>
        </form>


    </body>
    <script>
    </script>
</html>