<html>
    <head>
        <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>

    </head>
    <body>



        <h1>Add new Config</h1>
        <h2>Your class invite key is: {{invite_key}}</h2>
        <form method="POST" action="/manager/setup/addconfig" id="configform">

            <button class="button is-block is-info is-large is-fullwidth">Submit config</button>
        </form>

        <textarea name="config" form="configform"></textarea>

    </body>
    <script>
    </script>
</html>
