<html>
    <head>
        <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>



        {{info}} <br>
        {{user}} <br>
        {{grades}} <br>
        {{absences}} <br>

        <div class="card">
          <div class="card-content">
            <span class="card-title center-align">Overview Grades</span>
            <table>
              <thead>
                <tr>
                    <th>Subject</th>
                    <th>Average</th>
                </tr>
              </thead>
              <tbody>
                {% for item in grades.averages %}
                <tr>
                  <td>{{item.name}}</td>
                  <td>{{item.average}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <span class="card-title center-align">Overview Absences</span>
              <table>
                <thead>
                  <tr>
                      <th>Lessions</th>
                      <th>Percentage</th>
                      <th>Delta</th>
                  </tr>
                </thead>
                <tbody>
                  {% for sub in absences.subjects %}
                  <tr>
                    <td>{{sub.count}}</td>
                    <td>{{sub.percentage}}</td>
                    <td>{{sub.min_satisfied}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
    </body>
    <script>
    </script>
</html>
